<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>table,th,td { border : solid black 1px}</style>
</head>
<body>
    <h1>All User Details</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Edit<th>
        </tr>
        <%for(user of users) { %>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.username%></td>
                <td><%=user.email%></td>
                <td>
                    <form method="GET" action="http://localhost:8080/users/<%=user.id%>/edit">
                    <button>Edit Username</button>
                </form>
                </td>
            </tr>
        <%}%>
    </table>
</body>
</html>